<% include ../partials/header %>

<h1><%= recipe.name %></h1>


<img src = "<%= recipe.image %>" >

<p>Rating: <%= recipe.rating %> </p>
<p>Cost: $<%= recipe.cost %> </p>
<p>Link: <%= recipe.Link %> </p>
<p>
	<a class ="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
</p>

<% recipe.comments.forEach(function(comment){ %>
	<p><strong><%= comment.author %></strong> - <%= comment.text %></p>
	
<%});%>

<% include ../partials/footer %>